
body {
        /* This image will be displayed fullscreen */
        background:url("{% static 'import2.jpg' %}") no-repeat center center;
        /* Ensure the html element always takes up the full height of the browser window */
        min-height: 100%;
        /* The Magic */
        background-size: cover;
}