{% extends 'base.html' %}
{% load static %} <!-- Prepare django to load static files -->

{% block content %}

<body>
    <content> <!--to use HTML tags and not Bulma, use content as container-->

        {% if 'Não' in dict_msg.erro %} <!--alterar para Sim após testes-->
            <div class="notification is-info is-light">
                Todos os Documentos já necessários foram importados, você pode prosseguir com a geração em Excel 
            </div>
            <div class="buttons">
                <a class="button is-info is-rounded" 
                    href="{% url 'export_to_excel' dict_msg.bill_number %}">
                    Gerar Commercial Invoice e Packing List em Excel</a>
            </div>
         {% else %}
            <div class="notification is-warning">
                Alguns Documentos ainda não foram importados para o Sistema, conforme especificado na tabela seginte.
                <p>Importe os documentos que faltam para prosseguir com a geração em Excel!
            </div>
            
            <table class="table" is-striped is-narrow>
                <tr bgcolor="#eef6fc">
                    <th>Documento</th>
                    <th>Tipo</th>
                    <th>Importado?</th>
                </tr>
                {% for index, row in dict_msg.df.iterrows %}
                <tr>
                    {% for cell in row %}
                    <td>
                        {{cell}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            
            </table>
            
        {% endif %}
    </content>                                    
</body>

{% endblock content %}