
<style>
    body,
    html {
        height: 100%;
        width:100%;
        min-height:100%;
        margin: 0;
        background-image: url("static/import2-20.png");
        /* Center and scale the image nicely */
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

{% extends 'base.html' %}
{% load static %} <!-- Prepare django to load static files -->

<!--<link rel="stylesheet" href="{% static 'style.css' %}"-->
{% block content %}

<!--<img src="{% static 'import2-20.png' %}">-->

<body>
    <section class="hero is-small is-info mb-4">
        <div class="hero-body">
            <h1 class="title is-1">TradeEase</a></h1>
            <p class="subtitle is-4">
                Utilidades e Automação para Importação
            </p>
        </div>
    </section>

    <!--
<div class="columns">
    <div class="column is-half">

        <div class="block">
            <div class="card">
                <a href="{% url 'upload_file' filetype='proforma' %}">
                    <div class="card-content">
                        <p class="title is-4">Importar Pro Forma</p>
                        <p class="subtitle is-6">Obter dados da Pro Forma para alimentar BD</p>
                    </div>
                </a>
            </div>
            <br>
            <div class="card">
                <a href="{% url 'upload_file' filetype='invoice' %}">
                    <div class="card-content">
                        <p class="title is-4">Importar Invoice</p>
                        <p class="subtitle is-6">Obter dados da Invoice para alimentar BD</p>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="column is-half">

        <div class="block">
            <div class="card">
                <a href="#">
                    <div class="card-content">
                        <p class="title is-4">Relatório Pro Forma</p>
                        <p class="subtitle is-6">Lista todas as ProFormas no BD</p>
                    </div>
                </a>
            </div>
            <br>
            <div class="card">
                
                    <div class="card-content">
                        <p class="title is-4">Relatório Invoice</p>
                        <p class="subtitle is-6">Lista todas as Invoices no BD</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
-->
</body>

{% endblock content %}