{% extends 'base.html' %}
{% load static %} <!-- Prepare django to load static files -->
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block content %}

<body> 
    <div class="imp-img">
        <!--todo: background image-->
    </div>

    <!--<h1 style="background-color:powderblue;">Test</h1>
    <h1> Escolha uma das opções: </h1>
    <a href="upload_file">Processar Invoice</a><p></p>
    <p></p>
    
    <img src="{% static 'import1.jpg' %}" 
            alt="Imagem Principal" width=“10” height=“10”> -->

    <div class="block">
        <div class="card">
            <a href="upload_file">
                <div class="card-content">
                    <p class="title is-4">Processar Invoice</p>
                    <p class="subtitle is-6">Gera um resumo em pdf da Invoice</p>
                </div>
            </a>
        </div>
    </div>

</body>

{% endblock content %}